<h1>Playlists</h1>

<table>
  <thead>
    <tr>
      <th>Playlist Name</th>
      <th>User</th>
      <th>Email</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= link_to playlist.playlistname, playlist %></td>
        <td><%= playlist.user.username %></td>
        <td><%= playlist.user.email %></td>
        <td><small><%= pluralize playlist.songs.count, 'song' %></small></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playlist', new_playlist_path %>
