<p id="notice"><%= notice %></p>

<h2><%= @playlist.playlistname %></h2>
<small> Created by: <%= @playlist.user.email %></small><br />

<p>
  <% @playlist.songs.each do |sn| %>
    <li><%= sn.artist %> - <%= sn.title %></li>
  <% end %>
</p>

<%= link_to 'Edit', edit_playlist_path(@playlist) %>
<%= link_to 'Delete', @playlist, method: :delete, data: { confirm: 'Are you sure?' } %><br />
<%= link_to 'Back', playlists_path %>
